<!DOCTYPE html>
<html lang="zh-CN" style="font-size: 69.5835px;" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>丝芙兰</title>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__PUBLIC__/Department/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Department/wow.css">
    <script src="__PUBLIC__/Department/js/jquery.min.js"></script>
    <style type="text/css">
    object, embed {
        -webkit-animation-duration: .001s;
        -webkit-animation-name: playerInserted;
        -ms-animation-duration: .001s;
        -ms-animation-name: playerInserted;
        -o-animation-duration: .001s;
        -o-animation-name: playerInserted;
        animation-duration: .001s;
        animation-name: playerInserted;
    }

    @-webkit-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @-ms-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @-o-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }</style>
</head>
<body>
<div id="bd1" class="bd">
    <img src="__PUBLIC__/Department/images/bg1.jpg" alt="">

    <img class="pa z2 img1 feixin" src="__PUBLIC__/Department/images/01.png">
    <img class="pa z1 img2" src="__PUBLIC__/Department/images/02.png">
    <img class="pa z1 img3 twinkling" src="__PUBLIC__/Department/images/03.png">
    <!--<video class="pa z3 img3" src="images/slogan.swf" autoplay="autoplay" controls="controls" loop="loop">Your browser does not support the video tag./></video>-->
    <!--<object class="pa z3 img3" type="application/x-shockwave-flash" data="images/slogan.swf" width="" height="100%">
        <param name="movie" value="images/slogan.swf" />
        <param name="quality" value="high"/>
    </object>-->
    <!--<object class="pa z3 img3" id="forfun" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="auto" height="100%" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0">
        <param name="movie" value="images/slogan.swf">
        <param name="quality" value="high">
        <param name="bgcolor" value="transparent">
        <param name="menu" value="false">
        <PARAM NAME="wmode" VALUE="transparent">&lt;!&ndash;Window|Opaque|Transparent&ndash;&gt;
        <param name="FlashVars" value="">
        <param name="allowScriptAccess" value="sameDomain">
        <embed id="forfunex" src="images/slogan.swf"
               width="auto"
               height="100%"
               align="middle"
               quality="high"
               bgcolor="transparent"
               menu="false"
        play="true"
        loop="ture"
        FlashVars=""
        allowScriptAccess="sameDomain"
        type="application/x-shockwave-flash"
        pluginspage="http://www.adobe.com/go/getflashplayer">
        </embed>
    </object>-->
    <img class="pa z1 img4 swing3" src="__PUBLIC__/Department/images/04.png">
    <img class="pa z2 img5 feixin2" src="__PUBLIC__/Department/images/05.png">
    <img class="pa z1 img6 bianda" src="__PUBLIC__/Department/images/06.png">
    <img class="pa z2 img7 feixin3" src="__PUBLIC__/Department/images/07.png">
    <div class="pa z1 div div1" id="div1">
        <div class="pr" style=" width: 100%;">
            <img class="pa z1 img8" src="__PUBLIC__/Department/images/08.png">
            <div class="pa z1 div1_pro div1_1 wow slideInRight">
                <div class="div1_10">1.将有一场重要面试，你如何准备？</div>
                <div class="div1_1_xx div1_1_cl div1_11" onclick="getPoint(10,1)">a.紧张怕怕干着急，跪求祈好运！</div>
                <div class="div1_1_xx div1_1_cl div1_12" onclick="getPoint(7,1)">b.憋说话！我正抓紧看面试锦囊呢！</div>
                <div class="div1_1_xx div1_1_cl div1_13" onclick="getPoint(5,1)">c.要啥准备，我是学霸我怕谁！</div>
                <div class="div1_1_xx div1_1_cl div1_14" onclick="getPoint(3,1)">d.简历、话术…还有面试装，没有面试“妆”？那可不行！我全套必备！！</div>
            </div>
            <div class="pa z1 div1_pro div1_pro_hide div1_2 wow slideInRight">
                <div class="div1_10">2.你会用妆容提升气场吗？</div>
                <div class="div1_1_xx div1_2_cl div1_11" onclick="getPoint(10,2)">a.好感妆容hin加分，but手抖派的我总是弄得脸花花！</div>
                <div class="div1_1_xx div1_2_cl div1_12" onclick="getPoint(7,2)">b.只会简单修容，让自己看起来精神些～</div>
                <div class="div1_1_xx div1_2_cl div1_13" onclick="getPoint(5,2)">c.善于修饰搭配、勾略重点，但气场嘛…有待充值</div>
                <div class="div1_1_xx div1_2_cl div1_14" onclick="getPoint(3,2)">d.当然！用妆容使自己亮眼出色、气场全开，是我内外兼修的必杀技之一哦！</div>
            </div>
            <div class="pa z1 div1_pro div1_pro_hide div1_3 wow slideInRight">
                <div class="div1_10">3.你有以下职场妆容困惑吗？</div>
                <div class="div1_1_xx div1_3_cl div1_11" onclick="getPoint(10,3)">a.顶着“大油田”，面试好尴尬，面试官又要差评了！</div>
                <div class="div1_1_xx div1_3_cl div1_12" onclick="getPoint(7,3)">b.都说气场不够，唇膏来凑，但是颜色、质感、光泽好难把握！</div>
                <div class="div1_1_xx div1_3_cl div1_13" onclick="getPoint(5,3)">c.话说干净清新妆、年轻亮丽妆、成熟干练妆…到底哪个更加分？</div>
                <div class="div1_1_xx div1_3_cl div1_14" onclick="getPoint(3,3)">d.竞争激烈面霸夹击，还有什么高阶妆容术更让我脱颖而出？</div>
            </div>
            <div class="pa z1 div1_pro div1_pro_hide div1_4 wow slideInRight">
                <div class="div1_10">4.你的职场妆容小目标是…？</div>
                <div class="div1_1_xx div1_4_cl div1_11" onclick="getPoint(10,4)">a.学会一款百搭面试妆，看起来自信优秀不掉分！</div>
                <div class="div1_1_xx div1_4_cl div1_12" onclick="getPoint(7,4)">b.化出高质感职业妆，让人眼前一亮更出色！</div>
                <div class="div1_1_xx div1_4_cl div1_13" onclick="getPoint(5,4)">c.香氛魔力散发我的职业气息，脉搏在jUmP，气场在Up！</div>
                <div class="div1_1_xx div1_4_cl div1_14" onclick="getPoint(3,4)">d.有“颜”在先！当然要Get最“玩美”精英妆，“轻弹”傻白甜！</div>
            </div>
            <div style="display: none" id="val1">
            <div class="pa z1 div1_pro_jg div1_pro_hide div1_5 wow slideInRight lastVal"  >
                <div class="div1_jg div1_jg_1">So抱歉！你的职场气场考级不合格哦…不善包装自己的你，容易给</div>
                <div class="div1_jg div1_jg_2">面试官留下不佳印象。刚走出校园的新鲜人，要学会褪去青涩与冲</div>
                <div class="div1_jg div1_jg_3">动哦。别泄气！快来参加丝芙兰校园行活动，用专业职场妆容为自</div>
                <div class="div1_jg div1_jg_4">己妥妥注入自信正能量！</div>
            </div>
            </div>
            <!--测试结果1-->
            <div style="display: none"  id="val2">
          <div class="pa z1 div1_pro_jg div1_pro_hide div1_5 wow slideInRight lastVal"  style="display:none">
                <div class="div1_jg div1_jg_1" >很遗憾！你的职场气场测试刚过四级哦～低调的你稳重有余亮点不</div>
                <div class="div1_jg div1_jg_2" >足，容易被忽略埋没。别着急！赶紧参加丝芙兰校园活动，打造点</div>
                <div class="div1_jg div1_jg_3" >亮自己的专属妆容，有气场更有吸引力！</div>
            </div>
           </div>
            <!--测试结果2-->
            <div style="display:none" id="val3" >
            <div class="pa z1 div1_pro_jg div1_pro_hide div1_5 wow slideInRight lastVal"  style="display:none">
                <div class="div1_jg div1_jg_1">加油哦！你的职场气场考级已过六级！竞争理想的Offer需要过关</div>
                <div class="div1_jg div1_jg_2">斩将，欢迎参加丝芙兰校园活动，各种气场修炼“玩美”要诀等着</div>
                <div class="div1_jg div1_jg_3">你，与众不同的你与心仪的公司更配哦！</div>
            </div>
            </div>
            <!--测试结果3-->
            <div style="display:none" id="val4" >
           <div class="pa z1 div1_pro_jg div1_pro_hide div1_5 wow slideInRight lastVal"  style="display:none">
                <div class="div1_jg div1_jg_1">恭喜哦！你的职场气场已达八级！不要错过丝芙兰校园活动，获得</div>
                <div class="div1_jg div1_jg_2">更多气场妆容术，敢梦才能圆梦，面试也能“刷脸”哦！</div>
            </div>
            </div>
            <!--测试结果4-->

        </div>
    </div>
    <div class="pa z1 div div2" id="div2">
        <div class="pr" style=" width: 100%;">
            <img class="pa z1 img12 wow slideInUp" src="__PUBLIC__/Department/images/12.png">
            <img class="pa z1 img11 wow slideInUp" src="__PUBLIC__/Department/images/11.png">
            <img class="pa z2 img48 twinkling" src="__PUBLIC__/Department/images/48.png">
        </div>
    </div>
    <div class="pa z1 div div3" id="div3">
        <div class="pr" style=" width: 100%;">
            <img class="pa z1 img15 swing4" src="__PUBLIC__/Department/images/15.png">
            <img class="pa z2 img50 twinkling" src="__PUBLIC__/Department/images/50.png">
            <img class="pa z1 img49" id="btn1" src="__PUBLIC__/Department/images/49.gif">
        </div>
    </div>

    <img class="pa z2 img9 feixin4" src="__PUBLIC__/Department/images/09.png">
    <img class="pa z1 img10 bianda" src="__PUBLIC__/Department/images/10.png">
    <img class="pa z2 img13 feixin3" src="__PUBLIC__/Department/images/07.png">
    <img class="pa z2 img14 feixin4" src="__PUBLIC__/Department/images/09.png">
    <img class="pa z2 img23 swing3" src="__PUBLIC__/Department/images/23.png">

</div>

<div id="bd2" class="bd">
    <img src="__PUBLIC__/Department/images/bg2.jpg" alt="">

    <img class="pa z1 img16 wow slideInUp" src="__PUBLIC__/Department/images/16.png">
    <img class="pa z1 img17 wow slideInDown" src="__PUBLIC__/Department/images/17.png">
    <img class="pa z1 img18 wow slideInUp" src="__PUBLIC__/Department/images/18.png">
    <img class="pa z1 img19 wow slideInRight" src="__PUBLIC__/Department/images/19.png">
    <img class="pa z1 img20 wow slideInRight" src="__PUBLIC__/Department/images/20.png">
    <img class="pa z1 img21 bianda" src="__PUBLIC__/Department/images/10.png">
    <img class="pa z2 img22 swing3" src="__PUBLIC__/Department/images/22.png">
    <img class="pa z2 img24 feixin4" src="__PUBLIC__/Department/images/07.png">
    <img class="pa z2 img25 feixin5" src="__PUBLIC__/Department/images/25.png">
    <img class="pa z1 img26 bianda" src="__PUBLIC__/Department/images/26.png">
    <img class="pa z2 img51" src="__PUBLIC__/Department/images/51.gif" id="btn2">

</div>

<div id="bd3" class="bd">
    <img src="__PUBLIC__/Department/images/bg3.jpg" alt="">

    <img class="pa z1 img27 wow slideInDown" src="__PUBLIC__/Department/images/27.png">
    <img class="pa z1 img28 wow slideInUp" src="__PUBLIC__/Department/images/28.png">
    <img class="pa z1 img29 wow slideInDown" src="__PUBLIC__/Department/images/29.png">
    <img class="pa z1 img30 wow slideInUp" src="__PUBLIC__/Department/images/30.png">
    <img class="pa z1 img31 bianda" src="__PUBLIC__/Department/images/10.png">
    <img class="pa z1 img32 bianda" src="__PUBLIC__/Department/images/10.png">
    <img class="pa z2 img33 feixin6" src="__PUBLIC__/Department/images/33.png">
    <img class="pa z2 img34 swing3" src="__PUBLIC__/Department/images/34.png">
    <img class="pa z2 img52" src="__PUBLIC__/Department/images/52.gif" id="btn3">

</div>

<div id="bd4" class="bd">
    <img src="__PUBLIC__/Department/images/bg4.jpg" alt="">

    <img class="pa z1 img35 wow slideInUp" src="__PUBLIC__/Department/images/35.png">
    <img class="pa z1 img36 wow slideInDown" src="__PUBLIC__/Department/images/36.png">
    <img class="pa z1 img37 wow slideInUp" src="__PUBLIC__/Department/images/37.png">
    <img class="pa z1 img38 swing4" src="__PUBLIC__/Department/images/38.png">
    <img class="pa z1 img53 twinkling" src="__PUBLIC__/Department/images/53.png">
    <img class="pa z1 img39 wow slideInUp" src="__PUBLIC__/Department/images/39.png">
    <img class="pa z1 img40 wow slideInUp" src="__PUBLIC__/Department/images/40.gif">
    <div class="pa z1 div div4" id="div4">
        <div class="pr" style=" width: 100%;">
            <img class="pa z1 img41 swing4" src="__PUBLIC__/Department/images/41.png">
            <img class="pa z1 img54 twinkling" src="__PUBLIC__/Department/images/54.png">
            <img class="pa z3 img42 wow slideInUp" src="__PUBLIC__/Department/images/42.png">
            <img class="pa z2 img43 swing2" src="__PUBLIC__/Department/images/43.png">
            <img class="pa z1 img44 wow slideInUp" src="__PUBLIC__/Department/images/44.png">
            <img class="pa z1 img45 swing4" src="__PUBLIC__/Department/images/45.png">
            <img class="pa z1 img55 twinkling" src="__PUBLIC__/Department/images/55.png">
            <img class="pa z2 img56" src="__PUBLIC__/Department/images/56.gif" id="btn4">

        </div>
    </div>

</div>

<div id="bd5" class="bd">
    <img src="__PUBLIC__/Department/images/bg5.jpg" alt="">
    <div class="pa z1 div div5">
        <div class="div5_1">
            <div class="div5_11">姓名</div>
            <div class="div5_12"><input placeholder="请输入您的姓名"></div>
        </div>
        <div class="div5_1">
            <div class="div5_11">手机</div>
            <div class="div5_12"><input placeholder="请输入您的手机"></div>
        </div>
        <div class="div5_1">
            <div class="div5_11">城市</div>
            <div class="div5_12">
                <select>
                    <option>上海</option>
                    <option>上海</option>
                    <option>上海</option>
                    <option>上海</option>
                    <option>上海</option>
                </select>
            </div>
        </div>
        <div class="div5_1">
            <div class="div5_11">学校</div>
            <div class="div5_12">
                <select>
                    <option>上海华东师范大学</option>
                    <option>上海华东师范大学</option>
                    <option>上海华东师范大学</option>
                    <option>上海华东师范大学</option>
                    <option>上海华东师范大学</option>
                </select>
            </div>
        </div>
        <div class="div5_1">
            <div class="div5_11">年龄</div>
            <div class="div5_12"><input placeholder="请输入您的年龄"></div>
        </div>
        <div class="div5_2"><a href="#"><img src="__PUBLIC__/Department/images/46.png" alt="" title="" ></a></div>
    </div>
</div>

<script src="__PUBLIC__/Department/js/lib.js"></script>
<script type="text/javascript" src="__PUBLIC__/Department/js/wow.min.js"></script>
<script type="text/javascript">
    new WOW().init();
</script>
</body>
</html>

<script>
    var  value=0;
    function  getPoint(val,sign) {
        value+=val;
//        alert(value);
        if(sign ==4 ){
            if(value >= 0 && value <= 15){
//                $('.lastVal').css('display','none');
                $('#val1').css('display','block');
            }else if(value >= 16 && value <= 23){
//                $('.lastVal').css('display','none');
                $('#val2').css('display','block');
            }else if(value >= 24 && value <= 33){
//                $('.lastVal').css('display','none');
                $('#val3').css('display','block');
            }else if(value >= 34 && value <= 40){
//                $('.lastVal').css('display','none');
                $('#val4').css('display','block');

            }

        }


    }

</script>